
*.b#1

*.b#2

*.b#3

*.b#4

*.s#1

*.s#2

*.s#3

*.s#4

*.b##

*.s##

*.~$lock

EAGLE/Power\.Board/Power\.Board\.pdf

*.b#5

*.b#6

*.s#5

*.s#6

*.b#7

*.b#8

*.s#7

*.s#8

*.s#9

*.b#9

*.l#1

*.l#2

*.epf

ALTIUM/Net173/History/

ALTIUM/Net173/__Previews/

*.ERR

ALTIUM/Control\.Board/__Previews/

ALTIUM/Control\.Board/History/

ALTIUM/Control\.Board/Project Logs for Control\.Board/

*.l##

EAGLE/!LIB/Imported con-molex-micro-fit-3_0\.PrjPcb/__Previews/con-molex-micro-fit-3_0\.LOGPreview

ALTIUM/Control\.Board/Project Outputs for Control\.Board/Design Rule Check - PCB\.html

ALTIUM/Control\.Board/Project Outputs for Control\.Board/Design Rule Check - PCB\.drc

ALTIUM/3D/~\$b3f-1005_02\.SLDPRT

ALTIUM/3D/~\$b3f-1005_01\.SLDPRT

ALTIUM/IMPORT/Imported maxim\.PrjPcb/History/

ALTIUM/IMPORT/Imported Atmel_By_element14_Batch_1-00\.PrjPcb/History/

*.~vsd

ALTIUM/3D/~\$User Library-2EDGR-5_08-02P\.SLDPRT
